@{
    ViewData["Title"] = "Home Page";
}

<div class="container" style="margin-top:100px;">
    <h1 class="featurette-heading"><span class="text-muted">THIS WEEKS TOP 3</span></h1>
    <hr class="featurette-divider">
    <div class="row">
        <div class="col-lg-4">
        <img class="img-circle" src="data:image/gif;base64,R0lGODlhAQABAIAAAHd3dwAAACH5BAAAAAAALAAAAAABAAEAAAICRAEAOw==" alt="Generic placeholder image" width="140" height="140">
        <h2>1st Place</h2>
        <p>Donec sed odio dui. Etiam porta sem malesuada magna mollis euismod. Nullam id dolor id nibh ultricies vehicula ut id elit. Morbi leo risus, porta ac consectetur ac, vestibulum at eros. Praesent commodo cursus magna.</p>
        <p><a class="btn btn-default" href="#" role="button">View details &raquo;</a></p>
        </div><!-- /.col-lg-4 -->
        <div class="col-lg-4">
        <img class="img-circle" src="data:image/gif;base64,R0lGODlhAQABAIAAAHd3dwAAACH5BAAAAAAALAAAAAABAAEAAAICRAEAOw==" alt="Generic placeholder image" width="140" height="140">
        <h2>2nd Place</h2>
        <p>Duis mollis, est non commodo luctus, nisi erat porttitor ligula, eget lacinia odio sem nec elit. Cras mattis consectetur purus sit amet fermentum. Fusce dapibus, tellus ac cursus commodo, tortor mauris condimentum nibh.</p>
        <p><a class="btn btn-default" href="#" role="button">View details &raquo;</a></p>
        </div><!-- /.col-lg-4 -->
        <div class="col-lg-4">
        <img class="img-circle" src="data:image/gif;base64,R0lGODlhAQABAIAAAHd3dwAAACH5BAAAAAAALAAAAAABAAEAAAICRAEAOw==" alt="Generic placeholder image" width="140" height="140">
        <h2>3rd place</h2>
        <p>Donec sed odio dui. Cras justo odio, dapibus ac facilisis in, egestas eget quam. Vestibulum id ligula porta felis euismod semper. Fusce dapibus, tellus ac cursus commodo, tortor mauris condimentum nibh, ut fermentum massa justo sit amet risus.</p>
        <p><a class="btn btn-default" href="#" role="button">View details &raquo;</a></p>
        </div><!-- /.col-lg-4 -->
    </div><!-- /.row -->



      <!-- This Week Video -->

      <hr class="featurette-divider">

      <div class="row featurette">
        <div class="col-md-7">
          <h2 class="featurette-heading">This weeks standings <span class="text-muted">Let's see who made moves.</span></h2>
          <p class="lead">Donec ullamcorper nulla non metus auctor fringilla. Vestibulum id ligula porta felis euismod semper. Praesent commodo cursus magna, vel scelerisque nisl consectetur. Fusce dapibus, tellus ac cursus commodo.</p>
        </div>
        <div class="col-md-5">
          <div style="width:500px; height:500px; background-color:lightgrey;"></div>
        </div>
      </div>

      <hr class="featurette-divider">

      <!--END OF THIS WEEK Video -->

      <!-- start standings table -->
        <div class="row">
            <div class="text-center col-md-12">
            <div class="well"><strong> Week # Standings</strong></div>
            </div>
        </div>
<div class="table-responsive">
            <table class="table table-striped">
              <thead>
                <tr>
                  <th>#</th>
                  <th>Team Name</th>
                  <th>Last Weeks Standings</th>
                </tr>
              </thead>
              <tbody>
                <tr>
                  <td>1</td>
                  <td>Lorem</td>
                  <td>ipsum</td>
                </tr>
                <tr>
                  <td>2</td>
                  <td>amet</td>
                  <td>consectetur</td>
                </tr>
                <tr>
                  <td>3</td>
                  <td>Integer</td>
                  <td>nec</td>
                </tr>
                <tr>
                  <td>4</td>
                  <td>libero</td>
                  <td>Sed</td>
                </tr>
                <tr>
                  <td>5</td>
                  <td>dapibus</td>
                  <td>diam</td>
                </tr>
                <tr>
                  <td>6</td>
                  <td>Nulla</td>
                  <td>quis</td>
                </tr>
                <tr>
                  <td>7</td>
                  <td>nibh</td>
                  <td>elementum</td>
                </tr>
                <tr>
                  <td>8</td>
                  <td>sagittis</td>
                  <td>ipsum</td>
                </tr>
                <tr>
                  <td>9</td>
                  <td>Fusce</td>
                  <td>nec</td>
                </tr>
                <tr>
                  <td>10</td>
                  <td>augue</td>
                  <td>semper</td>
                </tr>
                <tr>
                  <td>11</td>
                  <td>massa</td>
                  <td>Vestibulum</td>
                </tr>
                <tr>
                  <td>12</td>
                  <td>eget</td>
                  <td>nulla</td>
                </tr>
              </tbody>
            </table>
          </div>


      <!-- end standings table -->
      <hr class="featurette-divider">